<ion-header>
  <ion-toolbar>
    <ion-button color="light" (click)="dismissLogin()">Đóng</ion-button>
    <ion-title>Đăng nhập</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form #form="ngForm" (ngSubmit)="login(form)" method="post">
    <ion-item>
      <ion-label position="floating">Tên đăng nhập</ion-label>
      <ion-input ngModel type="email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Mật khẩu</ion-label>
      <ion-input ngModel type="password" name="password" required></ion-input>
    </ion-item>

    <!-- <p text-right>Quên mật khẩu?</p> -->
    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="full" color="primary">Đăng nhập</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" color="danger" (click)="registerModal()">Đăng ký</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>